body{
    background-image:url(assets/img/calendar-business-date-time-icon-symbol-hand-drawn-cartoon-art-illustration-vector.jpg);
    background-size:auto;
    background-position: 60%;
    background-repeat: no-repeat;
}
.altura-min {
    min-height: 35%;
    background: #cc2222;
    opacity: 75%;
}